/* @group variables */

	$scrollbar--color: #f2f0e6;
	$scrollbar--overflow: 30px;
	$scrollbar--opacity: 0;
	$scrollbar--opacity-active: 1;
	$scrollbar--opacity-hover: 0.5;
	$scrollbar--position: 4px;
	$scrollbar--width: 8px;
	$scrollbar--hitarea: ($scrollbar--width * 0.75) * -1;

/* @end */


/* @group track */

	.dmp-scrolltrack {
		border-radius: $scrollbar--width;
		position: absolute;
		@include transition(background 200ms);
		z-index: 10;

		&:hover {
			.dmp-scrollbar {
				@include opacity($scrollbar--opacity-hover);
			}
		}

		.dmp-scrollbar--none & {
			display: none;
		}

		.dmp-scrollbar--x & {
			bottom: $scrollbar--position;
			height: $scrollbar--width;
			left: $scrollbar--position;
			right: $scrollbar--position;
		}

		.dmp-scrollbar--y & {
			bottom: $scrollbar--position;
			right: $scrollbar--position;
			top: $scrollbar--position;
			width: $scrollbar--width;
		}
	}

/* @end */


/* @group scrollbar */

	.dmp-scrollbar {
		background-color: $scrollbar--color;
		border-radius: $scrollbar--width;
		@include opacity($scrollbar--opacity);
		position: absolute;
		@include transition(opacity 200ms 50ms);

		&:after {
			content: '';
			display: block;
			position: absolute;

			.dmp-scrollbar--x & {
				bottom: $scrollbar--hitarea;
				left: 0;
				right: 0;
				top: $scrollbar--hitarea;
			}

			.dmp-scrollbar--y & {
				bottom: 0;
				left: $scrollbar--hitarea;
				right: $scrollbar--hitarea;
				top: 0;
			}
		}

		.dmp-scrollbar--x & {
			height: $scrollbar--width;
		}

		.dmp-scrollbar--y & {
			width: $scrollbar--width;
		}

		.dmp--scrolling & {
			@include opacity($scrollbar--opacity-active);
			cursor: pointer;
		}
	}

/* @end */