/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/
/* line 18, ../src/stylesheets/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../src/stylesheets/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../src/stylesheets/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../src/stylesheets/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../src/stylesheets/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../src/stylesheets/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../src/stylesheets/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../src/stylesheets/_html.scss */
h1, h2, h3 {
  font-family: 'PT Serif', serif;
  margin-bottom: 0.5em;
}

/* line 6, ../src/stylesheets/_html.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 10, ../src/stylesheets/_html.scss */
a {
  border-bottom: 1px solid rgba(34, 0, 204, 0.2);
  color: #20c;
  padding-bottom: 2px;
  text-decoration: none;
  -webkit-transition: border 200ms;
  -moz-transition: border 200ms;
  -ms-transition: border 200ms;
  -o-transition: border 200ms;
  transition: border 200ms;
}
/* line 18, ../src/stylesheets/_html.scss */
a:focus, a:hover {
  border-bottom-color: rgba(34, 0, 204, 0.8);
}

/* line 23, ../src/stylesheets/_html.scss */
blockquote {
  font-size: 1.25rem;
  font-style: italic;
  margin: 2em;
  padding: 0 0 0 2em;
  position: relative;
}
/* line 4, ../src/stylesheets/_mixins.scss */
.no-cssremunit blockquote {
  font-size: 20px;
}
/* line 30, ../src/stylesheets/_html.scss */
blockquote:before {
  background-color: #444;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  width: 3px;
}

/* line 42, ../src/stylesheets/_html.scss */
body {
  background: #fff;
}

/* line 46, ../src/stylesheets/_html.scss */
h1 {
  font-size: 2rem;
}
/* line 4, ../src/stylesheets/_mixins.scss */
.no-cssremunit h1 {
  font-size: 32px;
}

/* line 51, ../src/stylesheets/_html.scss */
h2 {
  font-size: 1.625rem;
}
/* line 4, ../src/stylesheets/_mixins.scss */
.no-cssremunit h2 {
  font-size: 26px;
}

/* line 56, ../src/stylesheets/_html.scss */
h3 {
  font-size: 1.25rem;
}
/* line 4, ../src/stylesheets/_mixins.scss */
.no-cssremunit h3 {
  font-size: 20px;
}

/* line 61, ../src/stylesheets/_html.scss */
main {
  display: block;
}

/* line 65, ../src/stylesheets/_html.scss */
p {
  margin: 0 0 1.5em;
}

/* line 70, ../src/stylesheets/_html.scss */
ol,
ul {
  margin: 0 0 1.5em 2em;
}

/* line 74, ../src/stylesheets/_html.scss */
ol {
  list-style: decimal;
}

/* line 78, ../src/stylesheets/_html.scss */
ul {
  list-style: disc;
}

/* line 2, ../src/stylesheets/_placeholders.scss */
.dmp-scroll__container:after, .horizontal-scroller:after, .horizontal-scroller__inner:after, .horizontal-scroller__inner ul:after {
  clear: both;
  content: "";
  display: table;
}

/* line 6, ../src/stylesheets/_scrollbar.scss */
html.dmp--scrolling, html.dmp--scrolling * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 11, ../src/stylesheets/_scrollbar.scss */
.dmp-scrolltrack {
  border-radius: 8px;
  position: absolute;
  -webkit-transition: background 200ms;
  -moz-transition: background 200ms;
  -ms-transition: background 200ms;
  -o-transition: background 200ms;
  transition: background 200ms;
  z-index: 10;
}
/* line 18, ../src/stylesheets/_scrollbar.scss */
.dmp-scrolltrack:hover .dmp-scrollbar {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 50 ")";
  filter: alpha(opacity=50);
  zoom: 1;
}
/* line 23, ../src/stylesheets/_scrollbar.scss */
.dmp-scrollbar--none .dmp-scrolltrack {
  display: none;
}
/* line 27, ../src/stylesheets/_scrollbar.scss */
.dmp-scrollbar--x .dmp-scrolltrack {
  bottom: 4px;
  height: 8px;
  left: 4px;
  right: 4px;
}
/* line 34, ../src/stylesheets/_scrollbar.scss */
.dmp-scrollbar--y .dmp-scrolltrack {
  bottom: 4px;
  right: 4px;
  top: 4px;
  width: 8px;
}

/* line 42, ../src/stylesheets/_scrollbar.scss */
.dmp-scrollbar {
  background-color: #f2f0e6;
  border-radius: 8px;
  position: absolute;
  -webkit-transition: opacity 200ms 50ms;
  -moz-transition: opacity 200ms 50ms;
  -ms-transition: opacity 200ms 50ms;
  -o-transition: opacity 200ms 50ms;
  transition: opacity 200ms 50ms;
}
/* line 49, ../src/stylesheets/_scrollbar.scss */
.dmp-scrollbar:after {
  content: '';
  display: block;
  position: absolute;
}
/* line 54, ../src/stylesheets/_scrollbar.scss */
.dmp-scrollbar--x .dmp-scrollbar:after {
  bottom: -6px;
  left: 0;
  right: 0;
  top: -6px;
}
/* line 61, ../src/stylesheets/_scrollbar.scss */
.dmp-scrollbar--y .dmp-scrollbar:after {
  bottom: 0;
  left: -6px;
  right: -6px;
  top: 0;
}
/* line 69, ../src/stylesheets/_scrollbar.scss */
.dmp-scrollbar--x .dmp-scrollbar {
  height: 8px;
}
/* line 73, ../src/stylesheets/_scrollbar.scss */
.dmp-scrollbar--y .dmp-scrollbar {
  width: 8px;
}
/* line 77, ../src/stylesheets/_scrollbar.scss */
.dmp--scrolling .dmp-scrollbar {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 50 ")";
  filter: alpha(opacity=50);
  zoom: 1;
  cursor: pointer;
}

/* @group big container */
/* line 11, ../src/stylesheets/app.scss */
.site__content__wrapper {
  bottom: 220px;
  left: 50%;
  margin: 0 0 0 -300px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 600px;
}

/* line 21, ../src/stylesheets/app.scss */
.site__content {
  background-color: #222;
  bottom: 0;
  left: 0;
  padding-right: 50px;
  position: absolute;
  top: 0;
  width: 650px;
}

/* line 31, ../src/stylesheets/app.scss */
.dmp-scroll__container {
  color: #999;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* line 40, ../src/stylesheets/app.scss */
.dmp-scroll__container a {
  border-bottom-color: #666;
  color: #ccc;
}

/* line 46, ../src/stylesheets/app.scss */
.inner {
  padding: 30px 20px;
}

/* @end */
/* @group small container */
/* line 55, ../src/stylesheets/app.scss */
.horizontal-scroller {
  background-color: #f9f9f9;
  bottom: 0;
  height: 200px;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
}

/* line 66, ../src/stylesheets/app.scss */
.horizontal-scroller__inner {
  font-size: 0;
  height: 250px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 50px;
  white-space: nowrap;
}
/* line 75, ../src/stylesheets/app.scss */
.horizontal-scroller__inner ul {
  font-size: 0;
  line-height: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
/* line 85, ../src/stylesheets/app.scss */
.horizontal-scroller__inner li {
  display: inline-block;
  position: relative;
}
/* line 89, ../src/stylesheets/app.scss */
.horizontal-scroller__inner li:before {
  bottom: 0;
  box-shadow: inset 0 0 24px rgba(0, 0, 0, 0.8);
  content: '';
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

/* @end */
